body {
  background-color: rgb(200, 225, 235);
}
h1 {
  color: rgb(2, 2, 94);
  text-align: left;
}
p {
  margin-left: 40px;
}
.margin {
  margin-left: 20px;
}
details {
  margin-left: 60px;
}
code {
  background-color: rgb(212, 249, 232);
  color: rgba(6, 2, 95, 0.969);
  margin-left: 20px;
}
ul {
  margin-left: 40px;
}
label, meter {
  margin-left: 20px;
}
form {
  margin-left: 60px;
}